@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* ---COLOR DECLARATION--- */
    --main-color: #62FEBD;
    --main-color-gradient: #62FEBD33;
    /* #cefae7 */
    --footer-menus-color: #585858;
    --browser-background-color: #161618;
    --overlay-color: rgba(59, 59, 59, 0.55);
    --error-color: #858585;

    --border-radius: 10px;

    /* ---SCREEN AND GRID SIZES--- */
    --content-width: 100vw;

    /* ---SIZE DECLARATION--- */
    --header-height: 50px;
    --drcontainer-height: 60px;
    --article-stack-height: calc(100% - var(--header-height) - var(--drcontainer-height));
    --article-stack-nodr-height: calc(100% - var(--header-height));

    /* ---Transitions --- */
    --transition-time: 500ms;
    --transition-type: cubic-bezier(0.65, 0.05, 0.36, 1);

    --svg-size: 40px;
}

html {
    /* -----POSITIONAL STYLING----- */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* -----TEXT STYLING---- */
    color: black;
    font-size: 16px;
    font-family: 'Bitter', sans-serif;
    background-color: black !important;
}

body {
    height: 100vh;
    width: 100vw;
    background: black;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

::placeholder {
    color: white;
    opacity: 1;
}

.text-xl {
    color: #284b28;
    font-weight: bold;
}

.mailto {
    background-color: var(--main-color);
    padding: 0 5px;
    border-radius: 4px;
}

.bounce {
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: all;
}