@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* ---COLOR DECLARATION--- */
    --main-color: #62FEBD;
    --main-color-gradient: #62FEBD33;
    /* #cefae7 */
    --footer-menus-color: #585858;
    --browser-background-color: #161618;
    --overlay-color: rgba(59, 59, 59, 0.55);
    --error-color: #858585;

    --border-radius: 10px;

    /* ---SCREEN AND GRID SIZES--- */
    --content-width: 100vw;

    /* ---SIZE DECLARATION--- */
    --header-height: 50px;
    --drcontainer-height: 60px;
    /* --dropdown-height: 70px; */
    /* --dropdown-open-height: 181px; */
    /* --dropdown-width: 90%; */
    /* --footer-height: 60px; <- Not used */
    --article-stack-height: calc(100% - var(--header-height) - var(--drcontainer-height));
    --article-stack-nodr-height: calc(100% - var(--header-height));
    /* --footer-icon-size: 25px; */
    /* --down-arrow-size: 30px; */

    /* ---Transitions --- */
    --transition-time: 500ms;
    --transition-type: cubic-bezier(0.65, 0.05, 0.36, 1);
}

html,
body {
    /* -----POSITIONAL STYLING----- */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* -----TEXT STYLING---- */
    color: black;
    font-size: 16px;
    font-family: 'Bitter', sans-serif;
    background-color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

.text-xl {
    color: #284b28;
    font-weight: bold;
    /* color: var(--main-color); */
    /* color: black; */
    /* background: var(--main-color); */
}

.mailto {
    background-color: var(--main-color);
    padding: 0 5px;
    border-radius: 4px;
}